<%= content_for :page_title, "Profeta do Corona | #{params[:id]}" %>

<header class="align--center push-xl--bottom">
  <h1><%= @state.name %></h1>
  <p>Previsão de casos confirmados para <%= l propheted_at, format: :short %></p>
</header>

<section class="flex flex--justify-between push-2xl--bottom">
  <article class="card" style="width: 32%">
    <div class="card__title">Confirmados</div>
    <div class="card__content"><%= number_with_delimiter @report.confirmed %></div>
  </article>

  <article class="card" style="width: 32%">
    <div class="card__title">Mortes</div>
    <div class="card__content"><%= number_with_delimiter @report.deaths %></div>
  </article>
</section>

<section>
  <article class="align--center push-2xl--bottom">
    <h1>Casos confirmados para as proxima semana</h1>
    <canvas data-controller="chart-line" data-chart-line-datasource="<%= @confirmed.to_json %>" width="400" height="250"></canvas>
  </article>

  <article class="align--center push-2xl--bottom">
    <h1>Mortes por COVID-19 para as proxima semana</h1>
    <canvas data-controller="chart-line" data-chart-line-datasource="<%= @deaths.to_json %>" width="400" height="250"></canvas>
  </article>
<section>
