<% content_for :page_title, "Profeta do Corona" %>

<header class="align--center push-2xl--bottom">
  <h1>Previsão de casos confirmados para as proximas semanas</h1>
  <p class="txt--subtle">Usando inteligencia artificial o <span class="txt--highlight">Profeta do Corona</span> calcula uma previsão de casos confirmados e mortes por corona vírus em cada estado.</p>
</header>

<section>
  <div class="align--right txt--sm txt--subtle">* Previsão para <%= l prophetized_at, format: :short %></div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th class="align--right">Confirmados</th>
        <th class="align--right">Mortes</th>
      </tr>
    </thead>
    <tbody>
      <% @report.each do |row| %>
        <tr>
          <td><%= link_to "Previsão para #{row.state.name}", [:dashboards, row.state], title: 'Clique para ver a previsão', class: 'txt--underline u-display-b' %></td>
          <td class="align--right"><%= number_with_delimiter row.confirmed %></td>
          <td class="align--right"><%= number_with_delimiter row.deaths %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td><%= link_to "Previsão para o Brasil", dashboards_countries_path, title: 'Clique para ver a previsão', class: 'txt--underline u-display-b' %></td>
        <td class="align--right txt--bold"><%= number_with_delimiter @report_country.try(:confirmed) %></td>
        <td class="align--right txt--bold"><%= number_with_delimiter @report_country.try(:deaths) %></td>
      </tr>
    </tfoot>
  </table>
</section>
